/* Write your CSS code here */
.website-logo-img {
  width: 100px;
}
.nav-logout {
  height: 30px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-responsive {
  width: 100%;
  margin: auto;
}
@media screen and (min-width:768px){
  nav{
    width: 80%;
    margin: auto;
  }
}